/* 
* Universal Selector: establish website's background color 
*/ 
* {
    color:hsl(335, 23%, 78%); /* applied hue, saturation,  lightness, alpha value colors */ 
}

/* 
* font implemented 
*/ 
@font-face {
    font-family: 'Roboto Mono'; 
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap.woff") format(woff); 
    font-weight: 700; 
    font-style: italic; 
}

/* 
* Element Selector: structure wesbite header 
*/ 
header {
    text-align: center; /* centered header text */ 
    font-family: 'Roboto-Mono', monospace;
}

header h2 {
    background-color: #f8edeb; /* applied color hex code */ 
} 

@media screen and (max-width: 480px) { /* responsiveness for multiple devices */ 
    header h2 {
        background-color: red; /* applied color name + background color */ 
    }
}

/* 
* Pseudo-class Selector: color to select the items on the header 
*/ 
a:active { /* pseudo-class (one) */ 
    color: #836953; /* applied color hex code to text */ 
}

/* 
* Element Selector: website body font 
*/ 
body { 
    font-family: 'Roboto-Mono', monospace; 
}

.menu li {
    display: inline-block; /* experimented with display value inline-block */ 
    background-color: white; /* applied bakcground color */  
    max-width: 500px; /* absolute length unit (one) & set max-width */ 
    max-height: 200px; 
} 

/* 
* Element selector: color and layout all header2
*/ 
h2 {
    color: rgb(251, 165, 180); /* applied color red, green, blue, values to text */ 
    background-color: white; /* applied bakcground color to element */ 
    margin: auto;   
}

/* 
* attribute selector: defined the background color of id 
*/ 
div[id] {
    background-color: lavender; 
}

.introduction p{
    background: content-box radial-gradient(#ccd5ae, white); 
    font-size: 1em; /* relative length unit (one) */ 
    margin: 1rem 1rem 1rem 3rem; /* relative length unit (two) */ 
}

/* 
* Selector List: establish the introduciton details 
*/
details, 
.introduction {
    color: hsl(335, 23%, 78%); /* applied color to text */ 
    /* start of margin long */ 
    margin-top: 0; 
    margin-bottom: 0;  
    margin-left: 2rem;   
    margin-right: 2rem;  
}

/* 
* Selector List: fix the margin for website's intro header 
*/ 
h2, 
.introduction {
    margin:auto; /* auto margin */ 
} 


/* Selector List: Multiple elements */ 
h1, 
h2 {
    background-color: white;
}

/* 
* Descendent combinator (element element) 
*/
ul li {
    list-style-type: circle; 
}

/* 
*  Attendance Class Selector 
*/ 
.Attendees {
    width: 50vw;   /* relative length unit (three) */ 
    height: 50vh;  /* relative length unit (four)  */ 
    font-size: 0.9rem;  
    height: 120px;  

    /* start of padding long */ 
    padding-top: 3px;     
    padding-bottom: 2px; 
    padding-left: 2px; 
    padding-right: 3px; 

    text-decoration: underline; /* text-decoration */  
}

/* 
* Child Combinator: changed the background color of attendees
*/ 
.Attendees > ol {
    background-color: white; 
}

/* 
* Child Combinator (element > element)
*/ 
ol > li {
    color: #836953;
}


/* 
*  Class Selector: structured website meeting agenda 
*/ 
.Agenda {
    width: 700px;   /* set the width of class  */ 
    height: 150px;  /* set the height of class */  
    margin : 1% 0 0 1%; 
     
    border-style: dotted; /* border style */  
    border-color: #ccd5ae; /* border color */ 
    border-width: 4pt; /* border width */ 
    border-radius: 4pt;  /* border radius */ 
} 

/* 
* General sibling combinator (element ~ element) 
*/ 
h2 ~ h3 {
    color: #836953;
}

/* 
*  Class Selector 
*/ 
.Unfinished-Business {
    width: 8in;     /* absolute length unit (two) */ 
    height: 5.5cm;  /* absolute length unit (three)  */ 
    margin : 1% 1% 1% 1%; /* margin short */  
    border-style: dotted; 
    border-color: #ccd5ae; 
    border-width: 4pt; /* absolute length unit (four) */ 
    border-radius: 4pt; 
}

/* 
*  Class Selector 
*/ 
.Finished-Business {
    width: 8in;  
    height: 4cm; 
    
    margin : 1% 1% 1% 1%; 
    border-style: dotted; 
    border-color: #ccd5ae;
    border-width: 4pt; 
    border-radius: 4pt;  
}

/* 
*  Class Selector 
*/ 
.Questions-Concerns {
    width: 40vw;
    height: 15vh; 
    /* start of margin long (spacing between html elements) */ 
    margin-top: 0.5rem;  
    margin-bottom: 0;  
    margin-left: 0; 
    margin-right: 0.5rem;

    border-style: dotted; 
    border-color: #ccd5ae; 
    border-width: 4pt; 
    border-radius: 4pt;
}

.Questions-Concerns li {
    color:  #836953;
    text-decoration: underline; 
    text-align: left; 
}

/* 
*  Class Selector: structured images 
*/ 
.images {
    max-width: 50px;
    max-height: 50px;
    display: inline;
}

/* 
*  Class Selector: structured view of meeting videos 
*/ 
.video {
    margin-bottom: 10px; 
}

/* 
* Class Selector: structured display of meeting audio 
*/ 
.audio {
    display: none; /* experimented with disply value none */  
}

/* 
*  Class Selector 
*/ 
.contacts {
    height: 110px; 
}

/* 
* Adjacent Sibling Combinator (element + element) 
*/  
h2 + p{
    font-weight: bold; 
}

/* 
* ID Selector: customize flex layout 
*/ 
#parent {
    display: flex; /* applied flex to the display property */ 
    flex-direction: column-reverse; /* flexbox related attribute one */ 
    flex-wrap: wrap; /* flexbox related attribute two */ 
    justify-content: space-between; /* flexbox related attribute three */ 
    gap: 10px; 
}

.cof {
    background-color: #836953; 
    align-self: center; /* flexbox related attribute four */ 
}

.mat {
    background-color: #efdaf1;
    align-self: center; 
}

.lat {
    background-color:hsl(336, 100%, 99%);
    align-self: center; 
}

/* 
* Combining Two Selectors (element.class) 
*/ 
p.help {
    color: #836953; 
    background-color: hsl(336, 100%, 99%);
}

/* 
*  Class Selector: structured website's form  
*/ 
.form2 {
    margin-left: 0.25in; 
    background-color: white;
    padding: 5px 4px 4px 5px; /* padding short */ 
    border: 3pt solid #ccd5ae;
    height: 700px;
    width: 700px;  
}

/* 
*  Class Selector: structured website's form 
*/ 
.form {
    min-width: 700px; /* set the minimum width of class */ 
    position: static; /* set position with static value */  
}
 

.subscrube:active { 
    color:hsl(335, 23%, 78%); 
}

.submit:hover { /* pseudo-class (two) */ 
    color: #ccd5ae; 
}

/* 
*  Class Selector 
*/ 
.foot {
    position: sticky; /* set position with sticky value */ 
    bottom:0; 
    color: pink;
    font-family: 'Roboto-Mono', monospace;  
}

/* 
* grid implemented  
*/ 
.gridParent{
  display: grid; /* applied grid to the display property */ 
  gap: 10px; 
  grid-template-columns: 1fr 1fr; /* grid related attribute (one) */ 
  grid-template-rows: min-content 1fr max-content; /* grid related attribute (two) */  

}

.one {
    background-color: white; 
}

.two { 
    background-color: lavender; 

}

.three {
    background-color: pink; 
    grid-column-start: 1; /* grid related attribute (three) */ 
    grid-column-end: 2; 
    grid-row-start: 3;   
    grid-row-end: 3;  
}